<style>
    #nav {
        display: none;
    }

    html, body, #login-page {
        height: 100%;
    }

    body {
        padding-top: 0px !important;
    }
    
    .error-msgLogin {
        font-size: 14px;
        border-radius: 4px;
        background-color: #F2DEDE;
        border-color: #EBCCD1;
        color: #A94442;
        margin: 10px;
        display: none;
    }
</style>

<div id="login-page">

    <section id="login">
        <div class="container">
            <div class="row">
                <div>
                    <div class="form-wrap panel">   
                                          
                        <a  href='/web/home' tabindex="-1">
                            <!--<img src="WebContent/assets/images/logo-sm.png" alt="logo" class="img-responsive" style="margin:auto;">-->
                            <img class="img-responsive" style="margin:auto;" />
                        </a>

                        <h1>Log In to your Account</h1>
                        <div>
                            <div class="error-msgLogin">
                                <ul>
                                    <li ng-repeat="err in modelErrors">{{err}}</li>
                                </ul>
                            </div>
                        </div>
                        <hr />

                        <div id="login-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input type="text" id="username" [(ngModel)]="username" class="form-control" placeholder="Username/Email" tabindex="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Password" id="accPwd" [(ngModel)]="password" tabindex="2" ng-enter="login()">
                                </div>
                            </div>

                            <div class="checkbox">
                                <span class="character-checkbox" ng-click="handleRememberMe()" onclick="onRememberPwdChange()" tabindex="3"></span>
                                <span class="label">Remember me</span>
                            </div>
                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" (click)="login()" value="LOG IN" tabindex="4">

                        </div>
                        <div class="text-center">
                            <a href='account/#/forgotpassword' class="forget inline-block" tabindex="5">Forgot your password?</a>
                            <a class='forget inline-block' href='account/#/resendverificationLink' tabindex="6">Resend Verification Link</a>
                        </div>

                        <div class="text-center">
                            <a href="/web/home" class="forget inline-block" tabindex="5"><b>Cancel</b></a>
                        </div>
                        <br />
                        
                        <div class="clearfix">
                            <!--<div class="col-xs-6 col-xs-offset-3">
                                <button id="btn-login-fb" class="btn btn-custom btn-lg btn-block" ng-click="externalLogin('Facebook')" tabindex="5">
                                    <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; LOGIN
                                </button>
                            </div>-->
                            <!--<div class="col-xs-6">
                                <button id="btn-login-google" class="btn btn-custom btn-lg btn-block" ng-click="externalLogin('Google')" tabindex="6" style="background-color: #dd5044;">
                                    <i class="fa fa-google" aria-hidden="true" style=" padding: 2px 4px;margin-right: 5px; border: 1px solid white;"></i> &nbsp; LOGIN
                                </button>
                            </div>-->
                        </div>

                        <div class="panel-footer forget">
                            <div>Don't have an account! <a href='{{registerPageUrl}}' tabindex="7"> Sign Up Here</a></div> 
                            <div class="clearfix"></div>
                            <div class="best-browser"><span>Supported Browsers :</span><span> <img src="WebContent/assets/images/chrome.png" alt="Google Chrome" title="Google Chrome"></span><span> <img src="WebContent/assets/images/ie.png" alt="Internet Explorer" title="Internet Explorer"></span><br/><span class="info">* Other browsers may work but arent't officially supported.</span></div>

                        </div>

                    </div>

                </div> <!-- /.col-xs-12 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>

<!-- <a [routerLink]="['/calender']">Calender</a> -->
</div>

<script>
    function onRememberPwdChange() {
        if (!$('#accPwd').prop('checked')) {
            $('.checkbox').addClass('show');
            $('#accPwd').prop('checked', true);
        } else {
            $('#accPwd').prop('checked', false);
            $('.checkbox').removeClass('show');
        }
    }

        setTimeout(function () {
            $('#login-page').css({ 'visibility': 'visible' });
        }, 1000);
    

    $(window).load(function () {
        $('#login-page').css({ 'min-height': $(window).height() - 78 });

    });
    $(window).resize(function () {
        $('#login-page').css({ 'min-height': $(window).height() - 78 });
    });
</script>