body {
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#login-page {
       
       /*background: #444 url('../images/slider/loginbg.png') no-repeat;*/
        background-size:100%;
        height: 100%;
    }
    .form-signin input[type="text"] {
        /*margin-bottom: 5px;*/
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        /*margin-bottom: 10px;*/
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vertical-offset-100 {
        padding-top: 10px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel {
    padding-top: 10px;
    margin-bottom: 20px;
    /*background-color: rgba(255, 255, 255, 0.75);*/
    background: rgba(255, 255, 255, 0.9) ;
    border: 1px solid transparent;
    border-radius: 3px;
   /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05 */
    }

    .panel > label, .panel > p
    {
        text-align: center;
    }


    #login {
    /*padding-top: 50px*/
}
#login .form-wrap {
    /*width: 30%;*/
    min-width: 300px;
    max-width:400px;
    margin: 0 auto;
}
#login h1 {
    color: #6d6d6d;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}
#login .form-group {
    margin-bottom:10px;
    padding: 0 20px;
}
 #login h1{
     margin-top:15px;
     font-weight:500;
     font-size:18px;
     margin-bottom:0px;
 }
 #login hr {
     border-top:1px solid #ccc;
     border-bottom:1px solid #fff;
     margin-top:15px;
}
 #login-form .form-control{
     height:44px;
 }
#login .checkbox {
    margin-bottom: 20px;
    /*padding-left: 60px;*/
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align:center;
    margin-top:20px;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #fff;
    font-size: 13px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
    display: inline-block;
    background:#454545;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	border-radius:0px;
    width:90%;
    margin: auto;
    font-weight:600;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
            
        
          #login .panel-footer.forget{
                                         border-top:1px solid #ccc;
                                     }

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #2a71bf;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
.inline-block {
    display:inline-block !important;
}
.error-msgLogin ul{
    padding:8px 10px 8px 25px;
}


#login .form-wrap.panel > a {
    display: block;
    margin: 0 auto;
    width: 78px;
}

.LoginPageForgetResend a{
    border-right: 1px solid #989898;
    padding: 0 15px;
    line-height: 15px;
}
.LoginPageForgetResend a:first-child{
    padding-left: 0;
}
.LoginPageForgetResend a:last-child{
    border-right: none;
    padding-right: 0;
}
@media screen and (max-width: 375px){
    .LoginPageForgetResend a{
        border:none;
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    #login .form-wrap{
        width: 260px;
        min-width: 260px;
    }
}