<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="registerForm" (ngSubmit)="onBillSubmit()" novalidate class="form">
                    <div class="form-group">
                        <label>MemberShip Fee</label>
                        <input type="text" formControlName="MemberShipFee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MemberShipFee.errors }"/>
                        <div *ngIf="submitted && f.MemberShipFee.errors" class="invalid-feedback">
                            <div *ngIf="f.MemberShipFee.errors.required">MembeShip Fee is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Discount Amount</label>
                        <input type="text" formControlName="DiscountAmount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.DiscountAmount.errors }"/>
                        <div *ngIf="submitted && f.DiscountAmount.errors" class="invalid-feedback">
                            <div *ngIf="f.DiscountAmount.errors.required">Discount Amount is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" formControlName="Remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Remarks.errors }"/>
                        <div *ngIf="submitted && f.Remarks.errors" class="invalid-feedback">
                            <div *ngIf="f.Remarks.errors.required">Remarks is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TotalAmount">Total Amount</label>
                        <input type="text" class="form-control" formControlName="TotalAmount" />
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>MembeShip Bill Update</h3>

                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="MemberShipFee">MemberShipFee</label>
                        <input type="text" class="form-control" name="MemberShipFee" [(ngModel)]="model.MemberShipFee" #MemberShipFee="ngModel" [ngClass]="{ 'is-invalid': f.submitted && MemberShipFee.invalid }" required />
                        <div *ngIf="f.submitted && MemberShipFee.invalid" class="invalid-feedback">
                            <div *ngIf="MemberShipFee.errors.required">MemberShipFee  is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DiscountAmount">Discount Amount</label>
                        <input type="text" class="form-control" name="DiscountAmount" [(ngModel)]="model.DiscountAmount" #DiscountAmount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && DiscountAmount.invalid }" required />
                        <div *ngIf="f.submitted && DiscountAmount.invalid" class="invalid-feedback">
                            <div *ngIf="DiscountAmount.errors.required">DiscountAmount is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Remarks">Remarks</label>
                        <input type="text" class="form-control" name="Remarks" [(ngModel)]="model.Remarks" #Remarks="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Remarks.invalid }" required Remarks />
                        <div *ngIf="f.submitted && Remarks.invalid" class="invalid-feedback">
                            <div *ngIf="Remarks.errors.required">Remarks is required</div>
                            <div *ngIf="Remarks.errors.Remarks">Remarks must be a valid Remarks address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TotalAmount">Total Amount</label>
                        <input type="text" class="form-control" name="TotalAmount" [(ngModel)]="model.TotalAmount"  />
                    </div>
                    <div class="form-group">
                        <button  class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->