<kendo-scheduler [kendoSchedulerBinding]="schedulerService.events | async" [modelFields]="schedulerService.fields"
    [resources]="schedulerService.resources"  [loading]="schedulerService.loading" [editable]="true"
    [selectedViewIndex]="2" [selectedDate]="selectedDate" (slotDblClick)="slotDblClickHandler($event)"
    (eventDblClick)="eventDblClickHandler($event)" (remove)="removeHandler($event)" style="height: 400px;">
    <kendo-scheduler-day-view >
    </kendo-scheduler-day-view>
    <kendo-scheduler-week-view >
    </kendo-scheduler-week-view>
    <kendo-scheduler-month-view>
    </kendo-scheduler-month-view>
    <kendo-scheduler-agenda-view>
    </kendo-scheduler-agenda-view>
</kendo-scheduler>
<div id="coachReadOnlyTemplateSlider" class="popupSlide" style="display:none;margin-right:0px !important">
    <div class="row">
        <div class="col-sm-12 popUpTitleBar" id="coachReadOnlyTemplateSliderTitleBar">
            <div class="row">
                <div class="pull-left">{{eventMeta.EventTitle}}</div>
                <div class="pull-right">
                    <span class="expandcompress" id="coachReadOnlyTemplateSliderCompExp"
                        (click)="coachReadOnlyTemplateSliderCompExp()">
                        <i class="fa fa-expand"></i>
                    </span>
                    <span class="callSlide" id="coachReadOnlyTemplateSliderCloseBtn"
                        (click)="coachReadOnlyTemplateSliderCloseBtn()">
                        <i class="fa fa-times"></i>
                    </span>
                </div>
            </div>
        </div>
        <div id="coachReadOnlyTemplateSliderBody" class="col-sm-12 popupSlideBody" style="min-height:500px;">

            <scheduler-edit-form [event]="editedEvent" [editMode]="editMode" [isNew]="isNew"
                (save)="saveHandler($event)" (cancel)="cancelHandler()" style="display: block; margin-top: 20px;">
            </scheduler-edit-form>
        </div>
    </div>
</div>